.kycMainArea {
  min-height: 100vh;
  color: white;
}

.tab-btn {
  background: transparent;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  outline: none;
  /* color: $bodyColor; */
  cursor: pointer;
}

/* .nav {
  background: #000 !important;
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #415059;
  border-color: transparent;
  border-bottom: 3px solid #992c95;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #415059;
  border-bottom: 3px solid #992c95;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-bottom: 3px solid #992c95;
  color: #fff;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: none;
}

.react-tabs__tab:focus:after {
  content: unset;
}

#dslKycLogo {
  height: 65px;
  width: 65px;
}

.dslFs {
  font-size: 24px;
  font-weight: bold;
  padding-left: 8px;
  color: #fff !important;
}

.react-tabs__tab--selected {
  color: #ffc107 !important;
  background: unset !important;
  border-color: unset !important;
  border-radius: unset !important;
  border: unset !important;
}

.imageDivNft {
  width: 200px;
  height: 200px;
  border: 1px solid white;
}

.selected-video-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.each-selected-video-for-priview {
  width: 14%;
}

.each-selected-video-container {
  width: 100%;
  height: auto;
  position: relative;
}

.each-selected-video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.selected-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin-bottom: 13px;
  padding-left: 136px;
}

.each-selected-image {
  /* width: inherit;
    height: inherit;
    border-radius: 6px; */
  width: 100%;
  height: auto;
  object-fit: contain;
}

.selected-image-remove-button {
  color: white;
  background-color: #404040;
  border-radius: 100px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.category-select {
  color: white;
}

.category-select:focus {
  color: white !important;
}

.category-select option {
  background-color: #1a1c33;
}

@media only screen and (max-width: 576px) {
  #dslKycLogo {
    width: 55px;
    height: 50px;
  }

  .dslFs {
    display: none;
  }
}