/* @import url(//db.onlinewebfonts.com/c/c99d3088cfb793c10162bf4a7913481b?family=Micra);
@import url(//db.onlinewebfonts.com/c/c99d3088cfb793c10162bf4a7913481b?family=MicraBold); */

@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Khula', sans-serif;
}

body {
  font-family: 'Khula', sans-serif;
  width: 100%;
  background: #011734;
  overflow-x: hidden !important;
}

/* swal */
.modal_class_success {
  background-color: #2D313A;
  color: white !important;
}

.modal_class_success .swal-icon::before {
  background-color: transparent;
}

.modal_class_success .swal-icon::after {
  background-color: transparent;
}

.swal-icon--success__hide-corners {
  display: none;
}

.handleReducePadding {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 14px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 14px !important;
}